#header_img {
    width: 100px;
    height: 100px;
}

.login-box {
    border: 1px solid #b1bcc7;
    padding: 20px;
    border-radius: 5px;
    width: 350px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

svg {
    height: 80px;
    width: 80px;
}


#mail_typing {
    display: none;
}

#pass_typing {
    display: none;
}
