#header_img {
    width: 100px;
    height: 100px;
}

.login-box {
    border: 1px solid #b1bcc7;
    padding: 20px;
    border-radius: 5px;
}

.header {
    text-align: center;
}

img {
    transition: 1s;
}